<h3>Departments Index</h3>
{{#each model as |department|}}
  <article class="listing">
    <div class="details">
    {{#link-to 'department' department}}
      {{department.name}}
    {{/link-to}}
    </div>
  </article>
{{/each}}

{{#link-to 'department.new'}}New Department{{/link-to}}
