{{#each model as |product|}}
  <article class="listing">
    <div class="details">
      <h3>{{product.name}}</h3>
      <div class="detail owner">
        <span>Price:</span> {{product.price}}
      </div>
      <div class="detail type">
        <span>Discount:</span> {{product.discount}}
      </div>
      <div class="detail location">
        <span>Promotion Code:</span> {{product.promotion_code}}
      </div>
      <div class="detail bedrooms">
        <span>Active:</span> {{product.active}}
      </div>
    </div>
  </article>
{{/each}}
